html{
  background:url("http://bgfons.com/upload/beer_texture1958.jpg");
  font-family: sans-serif;
}

header{
  margin-left: -8px;
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100vw;
  text-align: center;
  background-color: rgb(79,16,37) ;
  justify-content: center;
  color: rgb(208,199,123);
  align-items: center;
  -webkit-box-shadow: 0px 35px 17px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 35px 17px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 35px 17px -2px rgba(0,0,0,0.75);
}
.orange{
  margin-top: 20px;
  height: 70px;
  width: 100vw;
  margin-left: -8px;
  background-color: rgba(204,92,30,1) ;
  margin-top: -10px;
  margin-bottom: 50px;
}
#title{
  font-size: 60px;
}
.next{
  height: 100px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 60px;
  border-radius: 20px;
}
.container{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  color: rgb(79,16,37);
}
