
img{
.border-style: solid;
border-bottom: solid 0px #222;
padding-bottom: 0px;
margin-bottom:30px;
height: 255px;
width: 255px;
}

.title {
  font-size: 35px;

}

.list-item{
  padding-top: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
  width: 300px;
  background-color: rgb(235, 230, 240);
-webkit-box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
-moz-box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
box-shadow: 6px 7px 9px -6px rgba(210,212,211,1);
}
