.searchButton{
  font-size: 1.5em;
  border-radius: 1px;
  margin-left: 10px;
  background-color: rgb(220, 0, 0);
  color: white;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top:5px;
  margin-bottom: 5px;
  border: 1px solid white;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

#form-container{
  margin-top: 20px;
  background-color: rgba(204,92,30,1) ;
  margin-top: -10px;
  margin-bottom: 50px;
}

#searchForm{
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 25em;
  height: 1.65em;
  font-size: 1.3em;
  border: none;
}
